<div class="contacts">
    <% contacts.map(contact => { %>
    <div class="contact">
        <% if (contact.pic) { %>
        <img src="<%= contact.pic.replace('public\\', '')  %>" alt="Foto">
        <% } else { %>
        <div class="pic-placeholder">
            <% if (title == 'Contatos') { %>
            <p>+</p>
            <% } else { %>
            <p>?</p>
            <% } %>
        </div>
        <% } %>

        <div class="content">
            <p><%= contact.name %></p>
            <p><%= contact.email %></p>
        </div>
    </div>
    <% }); %>
</div>
