<div class="navbar">
    <a href="/">Index</a>
    <% if (typeof email != 'undefined') { %>
    <div>
        <a href="/contatos">Contatos</a>
        <a href="/entrar/sair">Sair</a>
    </div>
    <% } else if (title != 'Entrar') { %>
    <a href="/entrar">Entrar</a>
    <% } %>
</div>
