<%- include('includes/header'); -%>

<h1><%= title; %></h1>
<p>Uma merda, mas melhor que a do fiska!</p>

<% if (contacts) { %>
<%- include('includes/contacts'); -%>
<% } %>

<%- include('includes/footer'); -%>
